/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.elm-scale {
    display: block;
    position: relative;
    height: 30px;
    overflow: hidden;
    &.scale-att {
        &:before {
            background: var(--clr-att);
        }
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        width: 0;
        background: #DADADA;
    }
    .scale-title {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 30px;
        padding: 0 0 0 7px;
        font-size: 12px;
        text-transform: uppercase;
        z-index: 2;
    }
}
.item-review {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-base);
    .review-photo {
        display: block;
        position: relative;
        overflow: hidden;
        line-height: 1;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            border: 5px solid fade(#000, 0);
            border-top-color: var(--clr-att);
            border-left-color: var(--clr-att);
        }
        &:before {
            content: "";
            display: block;
            padding-top: 60%;
        }
    }
    .review-text-wrap {
        display: block;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 30px 20px 28px 20px;
    }
    .review-text {
        display: block;
        margin-bottom: 20px;
    }
    .review-author {
        font-weight: 500;
        margin: 0;
    }
}
.item-soft-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
    position: relative;
    margin: 0 auto;
    max-width: 160px;
    min-height: 160px;
    height: 100%;
    border: 1px solid #fff;
    transition: border-color ease 0.2s;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--clr-base);
    text-align: center;
    &:hover {
        color: var(--clr-base);
        border-color: var(--clr-att);
    }
    .elm-ico {
        display: block;
        margin: 0 auto 22px auto;
        width: 48px;
        height: 48px;
    }
    .soft-title {
        display: block;
        font-weight: 400;
        margin: 0;
        text-align: center;
        font-size: 1em;
        line-height: 20/14;
    }
}
.item-step-inner {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--clr-base);
    transition: border-color ease 0.2s;
    min-height: 89px;
    cursor: pointer;
    &:hover {
        border-color: var(--clr-att);
        .btn-action-ico {
            &.ico-arrow {
                &:before {
                    opacity: 0.15;
                }
            }
        }
    }
    .step-content-wrap {
        display: none;
    }
    .step-inner-content {
        padding: 48px 20px 80px 98px;
    }
    .ico-arrow {
        .t-rotate(-180deg);
        position: absolute;
        bottom: 4px;
        right: 0px;
    }
    .elm-number {
        height: 87px;
        line-height: 87px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        text-align: center;
        transition: all ease 0.2s;
    }
    .step-action {
        margin-top: 24px;
    }
    .step-title {
        display: block;
        font-size: 18px;
        line-height: 22/18;
        font-weight: 400;
        margin: 0 0 22px 0;
    }
}
.item-wrap {
    &.active {
        .item-step-inner {
            border-color: var(--clr-att);
            .elm-number {
                top: 45px;
            }
            .btn-action-ico {
                .t-rotate(180deg);
                &.ico-arrow {
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.item-faq {
    border-bottom: 1px solid var(--clr-base);
    .btn-faq {
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 22px 40px 22px 0;
        display: block;
        position: relative;
        overflow: hidden;
        &:hover, &.active {
            color: var(--clr-base);
        }
        &:hover {
            .btn-action-ico {
                &.ico-arrow {
                    &:before {
                        opacity: 0.15;
                    }
                }
            }
        }
        &.active {
            .btn-action-ico {
                &.ico-arrow {
                    &:after, &:before {
                        .t-rotate(0deg);
                    }
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .ico-arrow {
        position: absolute;
        top: 50%;
        right: -22px;
        margin-top: -44px;
    }
    .btn-action-ico {
        &.ico-arrow {
            &:before {
                background-image: url(../img/icons/arrow-border-faq.svg);
            }
            &:after {
                background-image: url(../img/icons/arrow-att-faq.svg);

            }
        }
    }
    .faq-content-block {
        display: none;
        padding-top: 0;
        padding-bottom: 22px;
        margin-top: -15px;
    }
}
.item-soft {
    display: block;
    position: relative;
    padding: 50px 20px;
    border: 1px solid var(--clr-att);
    transition: border-color ease 0.2s;
    &:hover {
        border-color: var(--clr-light);
    }
    .elm-number {
        position: absolute;
        top: 36px;
        left: 0;
        width: 98px;
        text-align: center;
    }
    .text-outer-wrap {
        padding-left: 78px;
    }
    .actions-wrap {
        margin-top: 20px;
    }
    .action-wrap {
        margin-bottom: 10px;
    }
    .pic-wrap {
        margin-top: 25px;
    }
}
.item-video {
    display: block;
    position: relative;
    line-height: 1;
    .video-wrap {
        position: relative;
        display: block;
        overflow: hidden;
        line-height: 1;
        &:before {
            content: "";
            display: block;
            padding-bottom: 55.9%;
        }
    }
    .video-title {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 6px;
        background: #fff;
        z-index: 20;
        font-size: 8px;
        line-height: 10px;
        padding: 3px 5px;
        text-transform: uppercase;
    }
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .img {
        display: block;
        position: absolute;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .video-bg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .btn-action-ico {
        display: block;
        position: absolute;
        top: 0;bottom: 0;left: 18px;right: 0;
        z-index: 4;
        margin: auto;
    }
    &:after {
        content: "";
        display: block;
        z-index: 2;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
    }
    &.active {
        .video-bg, img, .btn-action-ico, &:after {
            display: none;
        }
    }
}
.item-new {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--clr-base);
    text-decoration: none;
    border: none;
    &:hover {
        color: var(--clr-base);
        .new-info {
            &:before {
                border-top-color: var(--clr-att);
                border-left-color: var(--clr-att);
            }
        }
        .new-photo {
            img {
                transform: scale(1.07);
            }
        }
    }
    .new-photo {
        display: block;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            padding-top: 56%;
        }
        img {
            transition: transform ease 0.8s;
        }
    }
    .new-info-wrap {
        display: block;
        padding: 20px 0 22px 0;
        border-bottom: 1px solid var(--clr-base);
    }
}
.item-tile {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20/13;
    padding: 19px 19px 19px 19px;
    text-transform: uppercase;
    .tile-ico {
        height: 49px;
        width: 47px;
        position: relative;
        display: block;
        img {
            display: block;
            width: auto;
            height: 100%;
            margin: 0 auto;
        }
    }
    .tile-title {
        display: block;
        padding: 0 0 0 20px;
    }
}
.item-logo {
    display: block;
    position: relative;
    line-height: 1;
    height: 220px;
    &.active {
        .logo-text-wrap {
            display: block;
        }
    }
    .logo-image {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 97px;
            max-height: 97px;
        }
    }
    .logo-text-wrap {
        display: none;
        animation: fadein ease 0.2s;
        width: 320px;
        position: absolute;
        top: 60%;
        left: 50%;
        .t-translate(-50%, -50%);
        z-index: 10;
        background: #FF6B6B;
        padding: 35px 35px 30px 35px;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
    }
    .logo-text {
        display: block;
        margin-bottom: 20px;
    }
    .logo-name {
        display: block;
        font-weight: 500;
    }
    .ico-close {
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
.item-gallery {
    display: block;
    position: relative;
    overflow: hidden;
    height: 208px;
    img {
        display: block;
        position: relative;
        width: auto;
        height: 100%;
    }
}
.item-plus {
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-att);
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--clr-base);
    padding: 20px 20px 20px 112px;
    min-height: 102px;
    transition: border-color ease 0.2s;
    &:hover {
        border-color: var(--clr-light);
    }
    &.type-second {
        padding-left: 30px;
    }
    .plus-title {
        display: block;
    }
    .elm-ico {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 6px solid fade(#000, 0);
        border-top-color: var(--clr-base);
        border-left-color: var(--clr-base);
    }
}
.item-total {
    display: flex;
    align-items: center;
    line-height: 14/10;
    text-transform: uppercase;
    .tt-info {
        width: 130px;
        flex-shrink: 0;
        padding: 0 10px 0 0;
        overflow: hidden;
        display: block;
        font-size: 32px;
        line-height: 39px;
    }
    .tt-title {
        flex: 1;
        display: block;
    }
}
.elm-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    &.photo-contain {
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    &.photo-center {
        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
        }
        &:before {
            display: block;
        }
    }
}
@supports (object-fit: cover) {
    .elm-photo {
        &.photo-cover {
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@supports (object-fit: contain) {
    .elm-photo {
        &.photo-contain {
            img {
                height: 100%;
                object-fit: contain;
                max-width: inherit;
                max-height: inherit;
                right: auto;
                bottom: auto;
            }
        }
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-number {
    display: block;
    position: relative;
    line-height: 1;
}
@media (max-width: 991px) {
    .elm-number {
        font-size: 100px;
    }
    .item-wrap.active {
        .item-step {
            border-color: var(--clr-att);
            .step-number {
                top: 42px;
                color: var(--clr-base);
            }
        }
    }
    .item-step {
        border: 1px solid var(--clr-base);
        transition: border-color ease 0.2s;
        min-height: 89px;
        position: relative;
        cursor: pointer;
        .step-number {
            height: 87px;
            line-height: 87px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0 0 30px;
            transition: all ease 0.2s;
        }
        .step-inner-content {
            display: flex;
            flex-direction: column;
            padding: 50px 20px 45px 98px;
        }
        .step-title {
            margin-bottom: 26px;
            order: 1;
            width: 100%;
        }
        .step-text {
            max-width: 276px;
        }
        .step-text-wrap {
            order: 2;
            width: 100%;
        }
        .step-action {
            order: 3;
            width: 100%;
            margin-top: 20px;
        }
        &:hover {
            border-color: var(--clr-light);
            .step-number {
                color: var(--clr-light);
            }
        }
        .step-content-wrap {
            display: none;
        }
    }
    .item-logo {
        .logo-text-wrap {
            width: 200px;
            padding: 16px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}
@media (min-width: 480px) {
    .item-review {
        .review-photo {
            &:after {
                top: 12px;
                left: 12px;
                border-width: 8px;
            }
        }
    }
    .item-step-inner {
        .step-inner-content {
            padding-bottom: 45px;
        }
    }
    .item-faq {
        .btn-faq {
            padding-right: 70px;
        }
        .ico-arrow {
            right: -5px;
        }
    }
    .item-soft {
        .pic-wrap {
            padding-left: 78px;
            padding-right: 25px;
        }
    }
    .item-new {
        .new-info-wrap {
            padding-top: 28px;
        }
    }
    .item-tile {
        padding-left: 45px;
        .tile-title {
            padding-left: 35px;
        }
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    .item-total {
        display: block;
        .tt-info {
            width: auto;
            padding: 0;
            margin: 0 0 2px 0;
        }
        .tt-title {
            display: block;
        }
    }
}
@media (min-width: 992px) {
    .elm-scale {
        height: 39px;
        .scale-title {
            line-height: 39px;
            padding: 0 12px;
            font-size: 14px;
        }
    }
    .item-review {
        flex-direction: row;
        align-items: center;
        .review-photo {
            min-height: 210px;
            width: 38.5%;
            flex-shrink: 0;
            &:after {
                top: 5px;
                left: 5px;
                border-width: 5px;
            }
            &:before {
                display: none;
            }
        }
        .review-text-wrap {
            width: 61.5%;
            flex-shrink: 0;
            padding: 20px 40px 20px 40px;
        }
    }
    .item-soft-icon {
        line-height: 22px;
        .elm-ico {
            width: 48px;
            height: 48px;
            margin-bottom: 15px;
        }
        .soft-title {
            line-height: 22/14;
        }
    }
    .item-wrap {
        &.active {
            .item-step-inner {
                .elm-number {
                    height: 130px;
                    line-height: 130px;
                    top: 0;
                }
            }
        }
    }
    .item-step-inner {
        min-height: 136px;
        .elm-number {
            height: 134px;
            line-height: 134px;
        }
        .ico-arrow {
            bottom: 30px;
            right: 30px;
        }
        .step-inner-content {
            padding: 144px 30px 35px 28px;
            max-width: 550px;
        }
        .step-title {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 24px;
        }
        .btn-action-ico {
            &.ico-arrow {
                &:before {
                    background-image: url(../img/icons/arrow-light.svg);
                    .t-rotate(180deg);
                }
            }
        }
    }
    .item-faq {
        position: relative;
        .btn-faq {
            padding-right: 60px;
            font-size: 14px;
            line-height: 22px;
            position: static;
            padding-right: 180px;
            &.active {
                .ico-arrow {
                    top: auto;
                    bottom: -2px;
                }
            }
        }
        .ico-arrow {
            right: 5px;
            margin-top: -40px;
        }
        .faq-content-block {
            padding-right: 180px;
        }
    }
    .item-video {
        border: 1px solid var(--clr-base);
        padding: 8px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            height: 1px;
            width: 96px;
            margin-left: -48px;
            margin-top: 8px;
            background: var(--clr-base);
        }
    }
    .item-soft {
        padding: 45px 35px 45px 145px;
        display: flex;
        .text-outer-wrap {
            flex: 1;
            padding: 0 62px 0 0;
        }
        .actions-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 30px -26px 0 0;
        }
        .action-wrap {
            margin: 0 26px 10px 0;
        }
        .pic-wrap {
            width: 296px;
            padding: 0;
            margin: 0;
            flex-shrink: 0;
        }
        .elm-number {
            width: 145px;
            top: 30px;
        }
    }
    .item-new {
        .new-photo {
            height: 332px;
            &:before {
                display: none;
            }
        }
        .new-info-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding: 8px 16px;
        }
        .new-info {
            display: block;
            position: relative;
            width: 100%;
            max-width: 355px;
            background: #fff;
            padding: 12px 20px 8px 20px;
            font-size: 12px;
            line-height: 20px;
            min-height: 80px;
            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                transition: border-color ease 0.2s;
                border: 5px solid fade(#000, 0);
                border-top-color: var(--clr-base);
                border-left-color: var(--clr-base);
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
    }
    .item-tile {
        font-size: 14px;
        line-height: 22px;
        padding-left: 26px;
        .tile-title {
            padding-left: 24px;
        }
    }
    .item-logo {
        height: 300px;
        .logo-text-wrap {
            opacity: 0;
            transition: opacity ease 0.2s;
            display: block;
            padding: 20px 20px 30px 20px;
            width: 260px;
        }
        .logo-image {
            pointer-events: none;
        }
        &:hover {
            .logo-text-wrap {
                opacity: 1;
            }
        }
        .ico-close {
            display: none;
        }
    }
    .item-gallery {
        height: 394px;
    }
    .elm-number {
        font-size: 120px;
    }
    .item-wrap.active {
        .item-step {
            border-color: var(--clr-att);
            .step-content-wrap {
                opacity: 1;
            }
            .step-number {
                width: 110px;
                color: var(--clr-base);
            }
        }
    }
    .item-step {
        border: 1px solid var(--clr-base);
        transition: border-color ease 0.2s;
        min-height: 100%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        .step-number {
            height: 160px;
            width: 83px;
            text-align: center;
            line-height: 160px;
            position: absolute;
            top: 16px;
            left: 0;
            transition: all ease 0.2s;
        }
        .step-inner-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 50px 50px 40px 20px;
        }
        .step-content-wrap {
            opacity: 0;
            transition: opacity ease 0.2s;
            width: 512px;
        }
        .step-title {
            margin: 0;
            flex: 1;
            padding: 0 20px 0 0;
        }
        .step-text {
            max-width: 330px;
            min-height: 115px;
        }
        .step-text-wrap {
            width: 100%;
            padding-left: 110px;
            margin-bottom: 15px;
        }
        .step-action {
            flex-shrink: 0;
            padding-bottom: 8px;
        }
        &:hover {
            border-color: var(--clr-light);
            .step-number {
                color: var(--clr-light);
            }
        }
    }
    .item-plus {
        min-height: 110px;
        padding-left: 110px;
        font-size: 14px;
        line-height: 20px;
        .elm-ico {
            left: 58px;
        }
    }
    .item-total {
        font-size: 18px;
        line-height: 26/18;
        .tt-info {
            font-size: 60px;
            padding: 0 20px 0 0;
            width: auto;
            line-height: 1;
        }
    }
}
@media (min-width: 992px) and (max-width: 1179px) {
    .item-total {
        font-size: 12px;
        line-height: 20px;
        .tt-info {
            font-size: 40px;
            padding-right: 14px;
        }
    }
}
@media (min-width: 1180px) {
    .item-review {
        font-size: 14px;
        line-height: 24px;
        .review-photo {
            min-height: 252px;
        }
        .review-text-wrap {
            padding-left: 70px;
            padding-right: 70px;
            font-size: 1em;
            line-height: 24/14;
        }
    }
    .item-soft-icon {
        font-size: 18px;
        line-height: 26px;
        max-width: 210px;
        height: 210px;
        .elm-ico {
            width: 65px;
            height: 65px;
            margin-bottom: 17px;
        }
        .soft-title {
            line-height: 26/18;
        }
    }
    .item-wrap {
        &.active {
            .item-step-inner {
                .elm-number {
                    height: 160px;
                    line-height: 160px;
                }   
            }
        }
    }
    .item-step-inner {
        min-height: 165px;
        .step-inner-content {
            padding-top: 186px;
            padding-left: 32px;
            padding-bottom: 50px;
            max-width: 645px;
        }
        .step-title {
            font-size: 60px;
            line-height: 73px;
            margin-bottom: 35px;
        }
        .step-action {
            margin-top: 32px;
        }
        .elm-number {
            height: 165px;
            line-height: 165px;
            width: 130px;
        }
        .ico-arrow {
            bottom: 40px;
            right: 40px;
        }
    }
    .item-faq {
        .btn-faq {
            font-size: 18px;
            line-height: 28/18;
            padding: 30px 220px 30px 0;
            &.active {
                .ico-arrow {
                    bottom: 5px;
                }
            }
        }
        .faq-content-block {
            padding-right: 220px;
        }
        .ico-arrow {
            right: 12px;
        }
    }
    .item-soft {
        padding: 52px 52px 60px 220px;
        .pic-wrap {
            width: 296px;
        }
        .actions-wrap {
            padding-top: 10px;
            margin-right: -70px;
        }
        .action-wrap {
            margin-right: 70px;
        }
    }
    .item-new {
        .new-photo {
            height: 402px;
        }
        .new-info-wrap {
            padding: 20px;
        }
        .new-info {
            max-width: 430px;
            padding: 14px 30px 8px 24px;
            font-size: 14px;
            line-height: 24px;
            &:before {
                top: 7px;
                left: 7px;
                border-width: 6px;
            }
        }
    }
    .item-tile {
        font-size: 18px;
        line-height: 26px;
        padding-left: 22px;
        padding-top: 24px;
        padding-bottom: 24px;
        .tile-ico {
            height: 61px;
            width: auto;
        }
        .tile-title {
            padding-left: 30px;
        }
    }
    .item-logo {
        .logo-text-wrap {
            width: 320px;
            padding: 22px 22px 30px 24px;
            min-height: 320px;
            font-size: 14px;
            line-height: 24/14;
        }
        .logo-text {
            margin-bottom: 24px;
        }
    }
    .item-gallery {
        height: 620px;
    }
    .elm-number {
        font-size: 150px;
    }
    .item-wrap {
        &.active {
            .item-step {
                .step-number {
                    width: 150px;
                }
            }
        }
    }
    .item-step {
        .step-number {
            width: 100px;
            height: 180px;
            line-height: 180px;
        }
        .step-content-wrap {
            width: 648px;
        }
        .step-inner-content {
            padding-right: 25px;
            padding-bottom: 55px;
        }
        .step-text-wrap {
            padding-left: 198px;
        }
        .step-text {
            min-height: 140px;
        }
        .step-action {
            padding-bottom: 0;
        }
        .step-title {
            padding-left: 12px;
        }
    }
    .item-plus {
        min-height: 132px;
        font-size: 18px;
        line-height: 24px;
        padding-left: 134px;
        .elm-ico {
            width: 70px;
            height: 70px;
            margin: -35px 0 0 -35px;
            left: 69px;
        }
        &:before {
            top: 6px;
            left: 6px;
            border-width: 7px;
        }
    }
}