
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="subscribe-wrap">
				<div class="sbs-title">Подпишись на наши новости и&nbsp;акции</div>
				<div class="sbs-form-wrap">
					<form action="/" class="frm-main">
						<input type="email" class="form-input" placeholder="Введите ваш e-mail">
						<button class="btn-action-ico ico-send"></button>
					</form>
				</div>
			</div>
			<div class="menu-main-wrap">
				<ul class="menu">
					<li><a href="">главная</a></li>
					<li><a href="" class="active">быстрый старт</a></li>
					<li><a href="">рендер-плагин</a></li>
					<li><a href="">софт</a></li>
					<li><a href="">о ферме</a></li>
					<li><a href="">блог</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">контакты</a></li>
				</ul>
			</div>
			<div class="menu-wrap">
				<ul>
					<li>
						<a href="" class="btn-action-menu menu-att">
							<span class="menu-ico">
								<img src="./img/icons/menu-lk.svg" alt="">
							</span>
							<span class="menu-title">Личный кабинет</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-menu">
							<span class="menu-ico">
								<img src="./img/icons/menu-calc.svg" alt="">
							</span>
							<span class="menu-title">Калькулятор</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-menu">
							<span class="menu-ico">
								<img src="./img/icons/menu-instruction.svg" alt="">
							</span>
							<span class="menu-title">Инструкция</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="logo-panel-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="contacts-wrap">
					<a href="" class="btn-action-ico button-cnt">
						<img src="./img/icons/phone.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-cnt">
						<img src="./img/icons/tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-cnt">
						<img src="./img/icons/email.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">Воспользовавшись услугой рендер-фермы, вы соглашаетесь с <a href="" class="link-main">договором-офертой</a>. 2008&nbsp;-&nbsp;2021. Все права защищены.</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->