
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="menu-wrap">
				<ul>
					<li>
						<a href="" class="btn-action-menu menu-main menu-att">
							<span class="menu-ico">
								<img src="./img/icons/menu-lk.svg" alt="">
							</span>
							<span class="menu-title">Личный кабинет</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-menu menu-main">
							<span class="menu-ico">
								<img src="./img/icons/menu-calc.svg" alt="">
							</span>
							<span class="menu-title">Калькулятор</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-menu menu-main">
							<span class="menu-ico">
								<img src="./img/icons/menu-instruction.svg" alt="">
							</span>
							<span class="menu-title">Инструкция</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-nav-panel-->
	<nav class="header-nav-panel cnt-section js-popup-wrap">
		<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
		<div class="inner-wrap js-popup-block">
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">главная</a></li>
					<li><a href="" class="active">быстрый старт</a></li>
					<li><a href="">рендер-плагин</a></li>
					<li><a href="">софт</a></li>
					<li><a href="">о ферме</a></li>
					<li><a href="">блог</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">контакты</a></li>
				</ul>
			</div>
			<div class="contacts-wrap">
				<a href="" class="btn-action-ico button-cnt">
					<img src="./img/icons/phone.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-cnt">
					<img src="./img/icons/tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-cnt">
					<img src="./img/icons/email.svg" alt="">
				</a>
			</div>
			<div class="lang-wrap">
				<select class="form-select-clear">
					<option value="">RUS</option>
					<option value="">ENG</option>
				</select>
			</div>
		</div>
	</nav>
	<!--/header-nav-panel-->
</header>
<!-- /header -->
